<h1>{{ pageHeader ? pageHeader : "No Header" }}</h1>
<p>{{ getFullName() }}</p>

<p>You Text: <input type="text" [(ngModel)]="userText" /></p>
<br /><br />
<simple [simpleInput]="userText"></simple>

<br /><br />
<br /><br />

<button [disabled]="isDisabled">Button 1</button>
<button bind-disabled="isDisabled">Button 2</button>

<button class="colorClass" bind-disabled="isDisabled">Button 3</button>

<button [class]="classToApply" bind-disabled="isDisabled">Button 4</button>

<button [class.boldClass]="applyBoldClass" bind-disabled="isDisabled">
  Button 5
</button>

<button [class.boldClass]="!applyBoldClass" bind-disabled="isDisabled">
  Button 6
</button>

<button class="boldClass italicClass colorClass" bind-disabled="isDisabled">
  Button 7
</button>

<button
  class="boldClass italicClass colorClass"
  [class.boldClass]="!applyBoldClass"
  bind-disabled="isDisabled"
>
  Button 7
</button>

<button class="colorClass" [ngClass]="addClasses()">Button 8</button>

<br /><br />

<button style="color: red">Button 1</button>

<button style="color: red" [style.font-weight]="isBold ? 'bold' : 'normal'">
  Button 2
</button>

<button style="color: red" [style.font-size.px]="fontSize">Button 3</button>

<button style="color: red" [ngStyle]="addStyles()">Button 4</button>

<br /><br />

<button (click)="onClick()" type="button">Click Me</button>
<button on-click="onClick()" type="button">Click Me</button>

<br /><br />

<!-- Name: <input [value]="name" (input)="name = $event.target.value" /> -->
Name: <input [(ngModel)]="name" />

<br />
You entered: {{ name }}

<br /><br />
<br /><br />
<app-employee></app-employee>

<br /><br />
<employee-list></employee-list>
